[submodule "chef-repo/cookbooks/postgresql"]
	path = chef-repo/cookbooks/postgresql
	url = https://github.com/hw-cookbooks/postgresql.git
[submodule "chef-repo/cookbooks/postgis"]
	path = chef-repo/cookbooks/postgis
	url = git@github.com:mike-es/chef-postgis.git
[submodule "chef-repo/cookbooks/java"]
	path = chef-repo/cookbooks/java
	url = https://github.com/opscode-cookbooks/java.git
[submodule "chef-repo/cookbooks/tomcat"]
	path = chef-repo/cookbooks/tomcat
	url = https://github.com/opscode-cookbooks/tomcat.git
[submodule "chef-repo/cookbooks/build-essential"]
	path = chef-repo/cookbooks/build-essential
	url = https://github.com/opscode-cookbooks/build-essential.git
[submodule "chef-repo/cookbooks/openssl"]
	path = chef-repo/cookbooks/openssl
	url = https://github.com/opscode-cookbooks/openssl.git
