[submodule "chef-repo/cookbooks/postgresql"]
	path = chef-repo/cookbooks/postgresql
	url = https://github.com/hw-cookbooks/postgresql.git
[submodule "chef-repo/cookbooks/postgis"]
	path = chef-repo/cookbooks/postgis
	url = git@github.com:mike-es/chef-postgis.git
